body{
    background-image: url(https://www.adonde-y-cuando.es/site/images/illustration/archipel-de-los-roques.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-total{
    width: 100%;
    height: 100%;
    display: flex;
}

.move-square{
    height: 100%;
    width: 70%;
}

.con-square{
    position: relative;
    left: 20%;
    top: 10%;
    width: 500px;
    height: 500px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    width: 300px;
    height: 300px;
    backdrop-filter: opacity(0.5px);
}

.container-all-range{
    height: 100%;
    width: 30%;
    position: relative;
    right: 80px;
}

.container-range{
    color: black;
    font-size: 20px;
    width: 300px;
    height: 400px;
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.color{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    top: 150px;
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: flex;
    backdrop-filter: blur(3px);
}

input[type=color]{
    width: 30px;
    height: 30px;
}

.tooltip {
    position: relative;
    width: 65px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.4);
    backdrop-filter: blur(0.3);
    top: -5px;
    right: -55px;
    visibility: hidden;
    border-radius: 7px;
    color: white;
}

.move-range-input{
    top: 150px;
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    backdrop-filter: blur(3px);
}

.move-tooltip{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.tooltip-color{
    position: relative;
    width: 90px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.4);
    backdrop-filter: blur(0.3);
    top: -5px;
    right: -8px;
    visibility: hidden;
    border-radius: 7px;
    color: white;
}

.tooltip-difumi{
    position: relative;
    width: 110px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.4);
    backdrop-filter: blur(0.3);
    top: -5px;
    right: -55px;
    visibility: hidden;
    border-radius: 7px;
    color: white;
}

.cont-texConten{
    position: relative;
    background: white;
    width: 295px;
    top: 150px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 0;
}

.textContent{
    background: white;
    width: 285px;
    padding: 0 0 0 5px;
    margin: 0;
}

button{
    position: relative;
    top: 145px;
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
}

.move-btn{
    display: flex;
    justify-content: center;
}